<div class="container">
  <div class="d-flex justify-content-center">
    <div class="my-5 text-center">
      <% unless @calorie == "正しい数値を入力してください" %>
        消費カロリーは
        <h2><%= @calorie.round(1) %>kcal</h2>
        <span><%= link_to "戻る", new_step_log_path, class: "btn btn-primary my-2 px-4" %></span>
      <% else %>
        <h4><%= @calorie %></h4>
        <span><%= link_to "計算し直す", new_step_log_path, class: "btn btn-danger my-2 px-3" %></span>
      <% end %>
    </div>
  </div>
</div>