// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table{
  table-layout: fixed;
}

table td{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}