<div class="container">
  <div class="row p-0">
    <div class="col-lg-3">
      <%= render 'layouts/side' %>
    </div>
    <div class="col-lg-9">
      <h2>フォロー一覧</h2>
      <div class="border-top">
        <%= render 'layouts/users', users: @users  %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/new_post_icon' %>