<div class="container-fluid p-0 about-top">
  <div class="">
    <%= image_tag 'japan.jpg', class: "w-100" %>
    <div class="col-lg-5 mx-auto">
      <div class="pt-4">
        <h1 class="text-center">小さな幸せをみんなと共に</h1>
        <div class="py-5">
          <p class="h5 p-2">
            「さんぽみち」は登録することで、誰にでも使えるSNSサイトです。<br />
            <br />
            さんぽ中に見つけた発見や小さな幸せを伝え合う事で、<br />
            使用している人がほんの少しでも幸せな気持ちになれるようにつくられました。<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>