<div class="about-visual">
  <%= image_tag 'yuhodo.jpg' %>
  <div class="about-visual-text">
    <h1>さんぽみち</h1>
    <br />
    <p class="h5 p-sm-2 p-1">
      「さんぽみち」は登録することで、誰にでも使えるSNSサイトです。<br />
      <br />
      さんぽ中に見つけた発見や小さな幸せを伝え合う事で、<br />
      使用している人がほんの少しでも幸せな気持ちになれるようにつくられました。<br />
    </p>
  </div>
</div>
<div class="container">
  <div class="about-post">
    <div>
      <h1>SNS機能</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="p-4">
          <div class="text-center mb-4">
            <h4>散歩の楽しさを共有</h4>
          </div>
          <div>
            <p>
              散歩中に得られた発見やちょっとした幸せをユーザーで共有することができます。<br />
              また、お気に入り機能をやフォロー機能で気に入った投稿やユーザーを登録することも可能です。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4">
          <div>
            <%= image_tag 'application_demo.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-recode">
    <div>
      <h1>さんぽ記録機能</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="p-4">
          <div class="text-center mb-4">
            <h4>日々のさんぽを記録</h4>
          </div>
          <div>
            <p>
              日々のさんぽでの歩数、さんぽ時間、消費カロリーを記録することができ、
              年や月で記録を自動で集計してグラフとして表示することができます。<br />
              また、さんぽ記録以外の使い方として、ダイエットや日々の運動にも活用することが可能です。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4">
          <div>
            <%= image_tag 'application_demo_recode.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
