<div class="container">
  <div class="row">
    <%= image_tag 'japan.jpg', class: "w-100" %>
    <div class="col-lg-3 m-2">
      <h3 class="text-center">投稿メニュー</h3>
    </div>
    <div class="col-lg-3 m-2">
      <h3 class="text-center">ユーザーメニュー</h3>
    </div>
    <div class="col-lg-3 m-2">
      <h3 class="text-center">マイページ</h3>
    </div>
  </div>
</div>