<div class="container-fluid p-0 about-top">
  <div class="">
    <%= image_tag 'japan.jpg', class: "w-100" %>
    <div class="col-lg-5 mx-auto">
      <div class="pt-4">
        <h1 class="text-center">利用上のルール</h1>
        <div class="py-5">
          <p class="h5 p-2">
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>