<div class="container">
  <div>
    <div class="col-lg-8 mx-auto">
      <div class="border">
        <%= render 'layouts/search_post' %>
      </div>
      <%= render 'layouts/posts', posts: @posts %>
    </div>
  </div>
  <%= render "layouts/new_post_icon" %>
</div>