<div class="container">
  <div>
    </div>
      <%= form_with model: Post.new do |f| %>
        <div class="modal-body">
          <div>
            <%= f.text_area :body, placeholder: "投稿文", class: "form-control", rows: 20 %>
          </div>
          <div class="py-2">
            <%= f.file_field :post_image, placeholder: "画像を選択" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "投稿", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>