/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 /*

/*font-family*/
nav ul li {
    font-family: 'Wawati SC', sans-serif;
}

h1 {
    font-family: 'Wawati SC', sans-serif;
}

.watati-sc {
    font-family: 'Wawati SC', sans-serif;
}

.menu {
    background: linear-gradient(transparent 70%, #228b22 85%);
}

/*font-family END*/

main {
    padding: 20px 0 200px 0;
    min-height: 90vh;
    text-decoration:none;
}

.profile_img{
    width: 100%;
    height: auto;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.calender-text {
    font-size: 0.8em;
}



/*form関連*/
label.required:after{
    margin-left: 0.5em;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
    color: white;
    background-color: #C44;
    content: "必須";
    font-size: 75%;
}

.side-content{
	  position: sticky;
	  top: 20px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#error_explanation {
    width: auto;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    background-color: #f0f0f0;
}

#error_explanation h4 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: none;
}

.field_with_errors .input {
    padding: 2px;
    border: 2px solid red;
    display: table;
}

.text-forest{
    color: #228b22;
}
/*form関連終*/


/*topページ*/
.main-visual {
    margin-top: -20px;
}

.main-visual img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-position: center;
}

.main-visual-text {
    min-width: 350px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%,0%);
    color:#fff;
    text-align: center;
    font-size: 120%;
}


.main-visual-text h1 {
	line-height:0.95em;
	font-weight:bold;
	color: #fff;
	text-shadow: 0 0 0.2em black;
    font-size: 60px;
}

.main-visual-text span {
    font-size: 25px;
    border-bottom: solid 2px;
}

.main-visual-text strong {
    font-size: 28px;
    color: #eebbcb;
    -webkit-text-stroke: 0.015em rgba(0,0,0,1);
}

.top-menu {
    padding-bottom: 0.3em;
    border-bottom: solid 0.02em black;
    text-align: center;
	line-height: 0.95em;
	font-weight: bold;
	color: transparent;
	background: rgba(0,0,0,1);
	text-shadow:
		0 0 0.1em rgba(255,255,255,0.05),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip: text;
}

.top-menu-item li {
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient( 0deg, #A1887F 0 0.1em, #6D4C41 0.1em 0.2em );
	-webkit-background-clip: text;
}

.top-menu-box{
    min-height: 327px;
    margin:2em 0;
    position: relative;
    padding: 1.5em 3em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.top-menu-box:before, .top-menu-box:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.top-menu-box:before {left: 10px;}
.top-menu-box:after {right: 10px;}
.top-menu-box p {
    margin: 0;
    padding: 0;
}

.top-menu-box i {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 0.5em;
}
/*topページ終*/


/*aboutページ*/
.about-visual {
    margin-top: -20px;
}

.about-visual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-position: center;
}

.about-visual-text {
    width: 800px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%,0%);
    color:#fff;
    background-color: rgba( 0, 0, 0, 0.5);
    padding: 30px;
}


.about-visual-text h1 {
    text-align: center;
	line-height:0.95em;
	font-weight:bold;
	color: #fff;
	text-shadow: 0 0 0.2em black;
    font-size: 50px;
}

.about-visual-text p {
    font-weight: 600;
    line-height: 1.4em;
    filter: drop-shadow(10px 10px 5px #fff);
}

.about-post {
    margin: 3em 0;
    position: relative;
    padding: 1em 1.5em;
    border: solid 3px #0091EA;
    border-radius: 8px;
}

.about-post h1 {
    margin-bottom: 0.4em;
    font-size: 3em;
	text-align: center;
	line-height: 1em;
	font-weight: bold;
	color: #FFF;
	text-shadow:
		0 0 0.05em #0091EA,
		0 0 0.10em #0091EA,
		0 0 0.15em #0091EA,
		0 0 0.30em #0091EA;
	filter: saturate(150%);
	-webkit-background-clip: text;
	-webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
}

.about-post img {
    width: 100%;
}

.about-post h4 {
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.3em #004f80;
}

.about-recode {
    margin: 3em 0;
    position: relative;
    padding: 1em 1.5em;
    border: solid 3px #228b22;
    border-radius: 8px;
}

.about-recode h1 {
    margin-bottom: 0.4em;
    font-size: 2.5em;
	text-align: center;
	line-height: 1em;
	font-weight: bold;
	color: #FFF;
	text-shadow:
		0 0 0.05em #228b22,
		0 0 0.10em #228b22,
		0 0 0.15em #228b22,
		0 0 0.30em #228b22;
	filter: saturate(150%);
	-webkit-background-clip: text;
	-webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
}

.about-recode img {
    width: 100%;
}

.about-recode h4 {
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.3em #116b11;
}
/*aboutページ終*/



/*レスポンシブ*/
@media screen and (max-width:1024px) {
    .about-visual-text {
        width: 100%;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translate(-50%,0%);
        color:#fff;
        background-color: rgba( 0, 0, 0, 0.5);
    }

    .main-visual-text {
        width: 90%;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translate(-50%,0%);
        color:#fff;
        text-align: center;
        font-size: 90%;
    }
}