// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.a_user_link{
    color: black;
}

.a_user_link:hover{
    color: black;
}

.a_post_link{
    text-decoration: none !important;
    color: black;
}
.a_post_link:hover{
    color: black;
}

.post_image_index{
  	max-height: 26rem;
  	object-fit: cover;
  	background-position: center;
}

.post_image_show{
    width: 100%;
}

.user_post_images{
    width: 25%;
    object-fit: cover;
  	background-position: center;
}
