// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.a_post_link{
    text-decoration: none !important;
    color: black;
}
.a_post_link:hover{
    color: black;
}

.post_image_index{
  	max-height: 26rem;
  	object-fit: cover;
  	background-position: center;
}

.post_image_show{
    width: 100%;
}

.favorite_settled{
    color: #ff69b4;
}

.favorite_settled:hover{
    color: #ff99cc;
    text-decoration: none;
}

.favorite_not_settled{
    color: #2b2b2b;
}

.favorite_not_settled:hover{
    color: #ff99cc;
    text-decoration: none;
}
